doctype 5
html(lang="ja", class="preload")
  head
    title Nobtaka Nukui
    script(src="assets/javascripts/vendors.min.js", type="text/javascript")
    script(src="assets/javascripts/index.min.js", type="text/javascript")
    link(href="assets/stylesheets/index.min.css", rel="stylesheet")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=0.8, maximum-scale=1")

  body
    main
      header
        .flipper
          .upside
            h1 Nobtaka Nukui
          .downside
            .eat a
            p I'm a Visual Interface and Icon Designer.<br>I work at CCO of <a href="http://goodpatch.co/" target="_blank">Goodpatch inc</a>.<br>I love Disney. Tokyo, Japan.<br><a href="http://blog.nobtaka.com/" target="_blank">blog.nobtaka.com</a>

      nav
        ul
          li.twitter: a(href="https://twitter.com/nobtaka", target="_blank") twitter
          //- li.pinterest: a(href="http://pinterest.com/nobtaka/", target="_blank") pinterest
          li.dribbble: a(href="http://dribbble.com/nobtaka", target="_blank") dribbble
          li.facebook: a(href="https://www.facebook.com/nobtakanukui", target="_blank") facebook
          li.mail: a(href="mailto:me[at]nobtaka.com?body=You have to change [at] to @.") mail
